html,body{
  overflow-x: hidden;
}
.shop {
  background-color: #0d0106;
  width: 100%;
  height: auto;
}
.top-shop {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -25px;
}

.top-shop h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #fbfbff;
  padding: 10rem;
  margin-top: 20px;
}
.zero {
  grid-area: zero;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two
}

.three {
  grid-area: three

}
.shop-items {
  display: grid;
 grid-template-columns: 350px 350px 350px;
 grid-template-rows: 700px ;
 grid-template-areas: 
 "zero one two"
 "three . .";
  align-content: center;
  border: solid 10px #fbfbff;
  background-color: #657ed4;
  width: auto;
  height: auto;
  padding-top: 10%;
}

.shop-item {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.shop-item-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  text-align: center;
  margin-top: -10%;
}

.shop-item-price {
  font-family: "Permanent Marker", cursive;
  color: #0d0106;
  font-size: 1.5em;
  text-align: center;
}

.shop-item img {
  margin-right: auto;
  margin-left: auto;
}
.shop-item select {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  margin-bottom: 1rem;
}

.shop-item-details form {
  text-align: center;
}

.shop-item-details p {
  text-align: center;
}

.checkout {
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .shop-items {
    display: flex;
    flex-direction: column;
  }

  .shop-item {
    padding-top: 10%;
  }

  .shop-item select {
    margin-left: 16rem;
  }

  .one,
  .two  {
    margin-top: -60rem;
  }

  .three {
    margin-top: -60rem;
  }
}

@media only screen and (max-width: 375px) {
  .shop-item select {
    margin-left: 6rem;
  }
  .one,
  .two  {
    margin-top: -40rem;
  }

  .three {
    margin-top: -40rem;
  } 
}
