html,body{
  overflow-x: hidden;
}
.shop {
  background-color: #0d0106;
  width: 100%;
  height: auto;
}
.top-shop {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -25px;
}

.top-shop h1 {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #fbfbff;
  padding: 10rem;
  margin-top: 20px;
}

.shop-items {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-start;
  border: solid 10px #fbfbff;
  background-color: #657ed4;
  width: auto;
  height: auto;
  padding-top: 10%;
  
}

.shop-item {
  display: flex;
  flex-direction: column;
  /*margin: 5%;*/
}

.shop-item-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  text-align: center;
  margin-top: -10%;
}

.shop-item-price {
  font-family: "Permanent Marker", cursive;
  color: #0d0106;
  font-size: 1.5em;
  text-align: center;
}

.shop-item img {
  margin-right: auto;
  margin-left: auto;
}

.shop-item form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.shop-item table {
  margin-left: auto;
  margin-right: auto;
}
.shop-item select {
  width: 100%;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  margin-bottom: 1rem;

}


.shop-item-details p {
  text-align: center;
}

.paypal-button {
  position: relative;
  left: 40%;
  margin-bottom: 90%;
}

.two, .three, .four {
  margin-top: -25%;
  
}

@media only screen and (max-width: 1024px) {
  .shop-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .shop-item {
    padding-top: 10%;
  }

  .one,
  .two  {
    margin-top: -40rem;
  }

  .three {
    margin-top: -40rem;
  }

  .four {
    margin-top: -40rem;
  }
  
}

@media only screen and (max-width: 425px) {
  .one,
  .two  {
    margin-top: -20rem;
  }

  .three {
    margin-top: -20rem;
  } 

  .four {
    margin-top: -20rem;
  }
 
  .paypal-button {
    
    left: 30%;
    
  }
}

@media only screen and (max-width: 320px) {
  .one,
  .two  {
    margin-top: -20rem;
  }

  .three {
    margin-top: -20rem;
  } 

  .four {
    margin-top: -20rem;
  }
 
  .paypal-button {
    
    left: 0%;
    
  }
}
